src/main/resources/envelope.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="MessageId"/>
        <xs:element type="xs:string" name="ReplyId"/>
        <xs:element type="xs:string" name="Sender"/>
        <xs:element type="xs:string" name="Receiver"/>
        <xs:element type="xs:string" name="CreationDate"/>
        <xs:element type="xs:byte" name="Direction"/>
        <xs:element type="xs:byte" name="MsgType"/>
        <xs:element type="xs:string" name="Comment"/>
        <xs:element name="DocListFile">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FileName"/>
              <xs:element name="Protection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="MethodID"/>
                    <xs:element type="xs:byte" name="SelfSigned"/>
                    <xs:element type="xs:string" name="SignFileName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>